<ion-content [fullscreen]="true">
  <swiper-container slides-per-view="3" speed="500" loop="true" navigation="true" pagination="true" scrollbar="true">
    <swiper-slide>
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Santos_FC_logo.svg/1200px-Santos_FC_logo.svg.png">
    </swiper-slide>

    <swiper-slide>
      <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/2029.png">
    </swiper-slide>

    <swiper-slide>
      <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/2026.png">
    </swiper-slide>
    
    <swiper-slide>
      <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/874.png">
    </swiper-slide>
    
    <swiper-slide>
      <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/6079.png">
    </swiper-slide>
    
    <swiper-slide>
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/S%C3%ADmbolo_XV_de_Ja%C3%BA.png">
    </swiper-slide>

  </swiper-container>
</ion-content>